[submodule ".vendor/ZeroRoomLab-manifest"]
	path = .vendor/ZeroRoomLab-manifest
	url = https://github.com/saitoomituru/ZeroRoomLab-manifest.git
[submodule ".vendor/SphereOS-Atlantis"]
	path = .vendor/SphereOS-Atlantis
	url = https://github.com/saitoomituru/SphereOS-Atlantis.git
[submodule "sources/saitoomituru/FQuery"]
	path = sources/saitoomituru/FQuery
	url = https://github.com/saitoomituru/FQuery.git
	shallow = true
[submodule "sources/saitoomituru/Sphere-aae"]
	path = sources/saitoomituru/Sphere-aae
	url = https://github.com/saitoomituru/Sphere-aae.git
	shallow = true
[submodule "sources/saitoomituru/OpenRVC"]
	path = sources/saitoomituru/OpenRVC
	url = https://github.com/saitoomituru/OpenRVC.git
	shallow = true
[submodule "sources/saitoomituru/OND800"]
	path = sources/saitoomituru/OND800
	url = https://github.com/saitoomituru/OND800.git
	shallow = true
[submodule "sources/HIPSTAR-IScompany/quantaril_cloud_QAtlantis"]
	path = sources/HIPSTAR-IScompany/quantaril_cloud_QAtlantis
	url = https://github.com/HIPSTAR-IScompany/quantaril_cloud_QAtlantis.git
	shallow = true
[submodule "sources/saitoomituru/fold-nic"]
	path = sources/saitoomituru/fold-nic
	url = https://github.com/saitoomituru/fold-nic.git
	shallow = true
[submodule "sources/saitoomituru/IBD"]
	path = sources/saitoomituru/IBD
	url = https://github.com/saitoomituru/IBD.git
	shallow = true
[submodule "sources/saitoomituru/DVE800"]
	path = sources/saitoomituru/DVE800
	url = https://github.com/saitoomituru/DVE800.git
	shallow = true
[submodule "sources/saitoomituru/FAN800"]
	path = sources/saitoomituru/FAN800
	url = https://github.com/saitoomituru/FAN800.git
	shallow = true
[submodule "sources/saitoomituru/SAO800"]
	path = sources/saitoomituru/SAO800
	url = https://github.com/saitoomituru/SAO800.git
	shallow = true
[submodule "sources/saitoomituru/PSYCHO-Py800MCP"]
	path = sources/saitoomituru/PSYCHO-Py800MCP
	url = https://github.com/saitoomituru/PSYCHO-Py800MCP.git
	shallow = true
[submodule "sources/saitoomituru/SphereASTRO"]
	path = sources/saitoomituru/SphereASTRO
	url = https://github.com/saitoomituru/SphereASTRO.git
	shallow = true
[submodule "sources/saitoomituru/commonsATX"]
	path = sources/saitoomituru/commonsATX
	url = https://github.com/saitoomituru/commonsATX.git
	shallow = true
[submodule "sources/HIPSTAR-IScompany/astro.quantaril.cloud"]
	path = sources/HIPSTAR-IScompany/astro.quantaril.cloud
	url = https://github.com/HIPSTAR-IScompany/astro.quantaril.cloud.git
	shallow = true
[submodule "sources/saitoomituru/pain-scouter-assessment"]
	path = sources/saitoomituru/pain-scouter-assessment
	url = https://github.com/saitoomituru/pain-scouter-assessment.git
	shallow = true
[submodule "sources/saitoomituru/OpenSourcePITETO"]
	path = sources/saitoomituru/OpenSourcePITETO
	url = https://github.com/saitoomituru/OpenSourcePITETO.git
	shallow = true
[submodule "sources/HIPSTAR-IScompany/FMS24GTP_driver"]
	path = sources/HIPSTAR-IScompany/FMS24GTP_driver
	url = https://github.com/HIPSTAR-IScompany/FMS24GTP_driver.git
	shallow = true
[submodule "sources/saitoomituru/saitoomituru"]
	path = sources/saitoomituru/saitoomituru
	url = https://github.com/saitoomituru/saitoomituru.git
	shallow = true
[submodule "sources/saitoomituru/KUMA800"]
	path = sources/saitoomituru/KUMA800
	url = https://github.com/saitoomituru/KUMA800.git
	shallow = true
[submodule "sources/HIPSTAR-IScompany/SphereOS-synthesizer"]
	path = sources/HIPSTAR-IScompany/SphereOS-synthesizer
	url = https://github.com/HIPSTAR-IScompany/SphereOS-synthesizer.git
	shallow = true
